/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html {
  scroll-behavior: smooth;
  transition: all 1s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

#nav-bar {
  margin: 0;
  height: 20vh;
}

#nav-items {
  display: none;
}

.nav-item {
  margin-right: 2.5em;
}

.nav-text {
  font-size: 1rem;
  text-decoration: none;
  color: #aab5d5;
  font-family: Poppins;
  font-weight: 600;
  transition: all 200ms linear;
  margin: 0;
}

.nav-text:hover {
  color: white;
  font-size: 18px;
}

.active {
  background-color: #2c56fc;
  padding: 3px 20px;
  border-radius: 20px;
  color: white;
}

.active:hover {
  font-size: 1rem;
}

#hamburger {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5em;
  height: 3.5vh;
}

#ham-link {
  text-decoration: none;
  outline: none;
}

#side-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #001f40;
  visibility: hidden;
  z-index: 4;
}

.animate-side-menu-opening {
  animation: opening-animation 300ms linear;
  animation-fill-mode: forwards;
}

.animate-side-menu-closing {
  animation: closing-animation 200ms linear;
  animation-fill-mode: forwards;
}

.btn-close {
  color: #2c56ff;
  text-decoration: none;
  font-size: 3rem;
  position: absolute;
  top: 10px;
  right: 30px;
  font-weight: bolder;
  outline: none;
}

#side-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.side-menu-item {
  margin-top: 2.4em;
  list-style: none;
  text-align: center;
}

.side-menu-text {
  color: #aab5d5;
  text-decoration: none;
  font-family: "roboto Mono";
  font-weight: bolder;
  transition: all 200ms linear;
}

.side-menu-text:hover {
  color: white;
}

#side-serial-number {
  margin-left: 16px;
  font-size: 14px;
}

.main-area-container {
  position: absolute;
  top: 30%;
  left: 7%;
  color: wheat;
  height: 60vh;
  width: 90%;
}

#my-name {
  font-size: 13px;
  font-family: roboto mono;
  color: #2c56ff;
  margin-bottom: 10px;
}

#name {
  font-family: "Montserrat";
  color: #ccd6f6;
  font-size: 2.5rem;
  margin-bottom: 5px;
  font-weight: bolder;
}

#occupation {
  font-family: Calibri;
  color: #8892b0;
  margin-bottom: 35px;
  font-size: 1.7rem;
  font-weight: bolder;
}

#description {
  font-family: Calibri;
  width: 95%;
  color: #8892b0;
  line-height: 1.7rem;
  margin-bottom: 4em;
}

#get-in-touch-btn {
  padding: 14px;
  font-family: asap;
  background: none;
  color: lavender;
  border: 1px #2c56ff solid;
  border-radius: 4px;
  transition: all 300ms linear;
  cursor: pointer;
  text-decoration: none;
}

#get-in-touch-btn:hover {
  background-color: #2c56ff;
}

#get-in-touch-btn:active {
  background-color: #2c56ff;
}

.social-media-icons {
  display: none;
}

.gap {
  color: white;
  margin-top: 35em;
  overflow: hidden;
  position: absolute;
  left: 7%;
}

.subtitle {
  font-family: Calibri;
  position: relative;
  color: #ccd6f6;
  overflow: hidden;
  font-size: 24px;
  margin-bottom: 1.7em;
}

.serial-number {
  color: #2c56ff;
  margin-right: 10px;
}

#about-me>p {
  line-height: 32px;
  color: #8892b0;
  font-size: 18px;
  font-family: Calibri;
}

#first-para {
  margin-bottom: 1em;
  margin-right: 10px;
  width: 93%;
}

#second-para {
  margin-right: 1em;
  width: 90%;
}

#technologies {
  margin-top: 2em;
  list-style: none;
}

.tech {
  line-height: 30px;
  font-family: calibri;
  color: #8892b0;
}

.tech::before {
  content: "▹";
  position: relative;
  top: 0;
  left: 0px;
  color: #2c56ff;
  font-size: 25px;
  line-height: 12px;
  margin-right: 10px;
}

.second-gap {
  margin-top: 74em;
  position: absolute;
  left: 7%;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 80vh;
  width: auto;
  grid-gap: 1.5em;
  color: white;
}

.gird-project {
  height: 66vh;
  width: auto;
  background: red;
  border-radius: 5px;
  margin: 2em;
  border-bottom: 1px white solid;
}

#first-grid-project {
  background: url('../img/quiz.PNG');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  padding-right: 1em;
}

.project-title {
  margin-top: 2em;
  margin-bottom: 2em;
  color: #ccd6f6;
  font-family: Calibri;
}

.project-description {
  line-height: 28px;
  font-family: Calibri;
  color: #a8b2d1;

}

.tech-stack-used {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 1em;
  color: #aff0d1;
}

.tech-stack-item:nth-child(1),
.tech-stack-item:nth-child(2) {
  margin-right: 10px;
}

.tech-stack-item {
  font-family: roboto mono;
  font-size: 13px;
}

.external-links {
  margin-top: 1.8em;
}

.external-links-link {
  color: #ccd6f6;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms linear;
  text-decoration: none;
  outline: none;
}

.external-links-link:first-child {
  margin-right: .5em;
  font-size: 1.8rem;
}

.external-links-link:hover {
  color: white;
}

#second-grid-project {
  background: url('../img/lyrical.PNG');
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 1em;
  height: 55vh;
}

#second-grid-project>ul {
  justify-content: flex-start;
}

#third-grid-project {
  background: url('../img/todo.PNG');
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  padding-right: 1em;
  height: 60vh;
}

/* Media Queries */
@media (max-width: 380px) {
  .main-area-container {
    width: 95%;
    top: 26%;
  }

  #name {
    font-size: 2.2rem;
  }

  #occupation {
    width: 95%;
  }

  #description {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .side-menu-text {
    font-size: 1.6rem;
  }

  #side-menu-items {
    height: 82vh;
  }

  .side-menu-item {
    margin-bottom: 2em;
  }

  #hamburger {
    margin: 2em;
  }

  .main-area-container {
    top: 33%;
  }

  #my-name {
    font-size: 15px;
  }

  #name {
    font-size: 3.2rem;
  }

  #occupation {
    font-size: 3.5rem;
    margin-bottom: 40px;
  }

  #description {
    font-size: 19px;
    width: 75%;
    margin-bottom: 5em;
    line-height: 35px;
  }

  #get-in-touch-btn {
    font-size: 1.5rem;
    padding: 20px 35px;
  }

  .gap {
    margin-top: 52em;
  }

  .subtitle {
    font-size: 1.7rem;
  }

  #about-me {
    width: 90%;
  }

  #first-para {
    width: 80%;
  }

  #second-para {
    width: 75%;
  }

  #about-me>p {
    font-size: 22px;
    line-height: 36px;
  }

  .tech {
    font-size: 18px;
  }

  #side-serial-number {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  #hamburger {
    display: none;
  }

  #nav-items {
    display: flex;
    justify-content: flex-end;
    margin: 2.3em;
  }

  .nav-text {
    font-size: 1.5rem;
  }

  .main-area-container {
    width: 75%;
    left: 18%;
  }

  #my-name {
    font-size: 20px;
  }

  #name {
    font-size: 4.5rem;
  }

  #occupation {
    font-size: 4rem;
  }

  .social-media-icons {
    display: block;
    position: fixed;
    list-style: none;
    bottom: 0;
    left: 5%;
    color: white;
  }

  #vertical-line {
    border-left: 2px #8892b0 solid;
    width: 2px;
    height: 6.5vh;
    margin-left: 8px;
  }

  #description {
    font-size: 24px;
    width: 80%;
    line-height: 1.5em;
    margin-bottom: 4em;
  }

  .fa {
    color: #8892b0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 200ms linear;
    margin-bottom: 1.5em;
  }

  .fa:hover {
    color: white;
    font-size: 1.7rem;
  }

  #about-me>p {
    line-height: 40px;
    font-size: 24px;
  }

  #first-para {
    width: 60%;
  }

  #second-para {
    width: 70%;
  }

  .gap {
    margin-top: 66em;
    left: 18%;
  }

  .tech {
    font-size: 24px;
    line-height: 46px;
  }

  .tech::before {
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  .nav-text {
    font-size: 1rem;
  }

  .main-area-container {
    width: 70%;
    top: 25%;
  }

  #name,
  #occupation {
    font-size: 3.5rem;
  }

  #description {
    width: 45%;
    font-size: 21px;
  }

  #get-in-touch-btn {
    font-size: 1rem;
  }

  #vertical-line {
    height: 12vh;
  }

  #about {
    font-size: 34px;
  }

  .gap {
    margin-top: 47em;
  }

  #about-me>#first-para {
    width: 35%;
    line-height: 33px;
  }

  #about-me>#second-para {
    line-height: 37px;
    width: 45%;
  }

  #about-me>p {
    font-size: 18px;
  }

  .tech {
    font-size: 18px;
  }
}

/* Animations */
@keyframes opening-animation {
  0% {
    width: 0;
  }

  100% {
    width: 65%;
  }
}

@keyframes closing-animation {
  0% {
    width: 65%;
  }

  100% {
    width: 0%;
  }
}